@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Montserrat";
  src: url("/campus-system/public/Fonts/Montserrat/Montserrat-Italic-VariableFont_wght.ttf")
    format("truetype");

  font-family: "Poppins";
  src: url("/campus-system/public/Fonts/Poppins/Poppins-Regular.ttf")
    format("truetype");

  font-family: "Poppins-bold";
  src: url("/campus-system/public/Fonts/Poppins/Poppins-Bold.ttf")
    format("truetype");

  font-family: "Roboto";
  src: url("/campus-system/public/Fonts/Roboto_Condensed/RobotoCondensed-VariableFont_wght.ttf")
    format("truetype");

  font-family: "Inter";
  src: url("/campus-system/public/Fonts/Inter/Inter-Italic-VariableFont_opsz\,wght.ttf")
    format("truetype");

  font-family: "Londrina";
  src: url("/campus-system/public/Fonts/Londrina_Outline/LondrinaOutline-Regular.ttf")
    format("truetype");

  font-family: "Libe";
  src: url("/campus-system/public/Fonts/Libre_Franklin/LibreFranklin-VariableFont_wght.ttf")
    format("truetype");

  font-family: "OutlineFont";
  src: url("/campus-system/public/Fonts/Londrina_Outline/LondrinaOutline-Regular.ttf")
    format("truetype");

  font-family: "Bungee";
  src: url("/campus-system/public/Fonts/Bungee_Outline/BungeeOutline-Regular.ttf")
    format("truetype");
}
